body {
  background-color: rgb(250, 243, 243);
  margin: 0px auto;
  padding: 0px;
  max-width: 987px;
}

.header {
  background-color: white;
  width: 100%;
  height: 48px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  display: flex;
}

.hb-text {
  position: relative;
  top: 80%;
  left: 7%;
}

.hero-banner {
  display: block;
  background-image: url(/img/unsplash_w7WVYjY8c5w.png);
  background-color: rgba(49, 95, 164, 1);
  height: 420px;
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: azure;
  width: 425px;
  padding: 0%;
  margin: 0;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  color: azure;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

h4 {
  color: azure;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: azure;
  padding: 0;
  margin: 0;
}

.box1 {
  background-image: url(/img/unsplash_h7oZAHnS9_E.png);
  background-color: green;
  line-height: 220px;
  text-align: center;
  vertical-align: middle;
  width: 428px;
  height: 220px;
  margin-bottom: 20px;
}

.box2 {
  background-image: url(/img/unsplash__YCUANSCaO4.png);
  background-color: green;
  line-height: 220px;
  text-align: center;
  vertical-align: middle;
  width: 428px;
  height: 220px;
  margin-bottom: 20px;
}

.box3 {
  background-image: url(/img/unsplash_BtoUjLUtPnQ.png);
  background-color: green;
  line-height: 220px;
  text-align: center;
  width: 428px;
  height: 220px;
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(68, 68, 68, 1);
  display: block;
  width: 100%;
  height: 172px;
}

@media screen and (min-width: 767px) {
  .hero-banner {
    display: flex;
    background-image: url(/img/unsplash_w7WVYjY8c5w.png);
    background-image: image-set(1400px);
    background-repeat: none;
    background-color: rgba(49, 95, 164, 1);
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box1 {
    display: flex;
    width: 315px;
    height: 220px;
  }

  .box2 {
    display: flex;
    width: 315px;
    height: 220px;
  }

  .box3 {
    display: flex;
    width: 315px;
    height: 220px;
  }
}
